/* h2{
    display:inline;
    background-color: aqua;
}

span{
    display:block;
    background-color: beige;
} */


span{

    border:2px solid black;
    height:100px;
    width: 200px;
    
    padding:50px;
    margin:20px;
}


div{


    border:2px solid black;
    height:100px;
    width: 200px;
    
    padding:50px;
    margin:20px;
}