div{

    height:200px;
    width:500px;
    background-color: pink;
    /* border-width:5px;
    border-style:solid;
    border-color: black; */

    border:5px solid yellow;

    border-radius:20px;


    border-left-style:dashed;
    border-left-color:blue;

    padding-top:50px;

    margin-bottom: 25px;

}

h1{
    border-width:2px;
    border-style:dashed;
    border-color:brown;


}

button{
    border:2px solid black;
    border-radius:10px;
    padding-left:25px;
    padding-right:25px;
}
